@import "../fonts/PTSerif/stylesheet.css";
@import "../fonts/PTSans/stylesheet.css";
@import "../fonts/PTMono/stylesheet.css";

html {
	font: 62.5%/1.5 "PT Serif", Georgia, "Times New Roman", serif;
}

body {
	width: 800px;
	margin: 0 auto;
	font-size: 2.4em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "PT Sans Caption";
}

pre, code {
	font-family: "PT Mono", Menlo, monospace;
}