@import "http://fonts.googleapis.com/css?family=PT+Mono|PT+Serif:400,700,400italic,700italic|PT+Sans+Caption:400,700&subset=latin,cyrillic";

html {
	font: 62.5%/1.5 "PT Serif", Georgia, "Times New Roman", serif;
}

body {
	width: 700px;
	margin: 0 auto;
	font-size: 2.1em;
	color: rgb(52, 51, 50);
}

h1, h2, h3, h4, h5, h6, nav, time, footer {
	font-family: "PT Sans Caption", Verdana, sans-serif;
}

footer {
	text-align: center;
}

pre, code {
	font-family: "PT Mono", Menlo, monospace;
}

blockquote {
	margin: 1em 0;
	padding: 0 1em;
	border-left: 1px solid;
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
}

hr {
	border: 0;
	text-align: center;
	line-height: .2em;
	margin: 2em 0;
}

hr:after {
	content: "· · ·";
	word-spacing: 2em;
	font-weight: bold;
}

a {
	color: #0042c4;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 66, 196, 0.5);
}

a:hover {
	color: #c00;
	border-color: rgba(204, 0, 0, 0.5);
}

nav ul {
	padding: 0;
	list-style: none;
}

nav ul time {
	margin-left: 1em;
}

nav h3 {
	text-align: center;
}

article h1 {
	margin-bottom: 0;
	font-size: 2em;
}

article header h2 {
	margin-top: 0;
	font-weight: normal;
	font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

article header a {
	position: absolute;
	margin-left: -1.5em;
	font-size: 2em;
	line-height: 1.1;
}

article header time,
footer {
	font-size: .75em;
	color: rgb(110, 108, 106);
}